

.title-form {
  margin-top: 0;
  text-align: center;
}
.network-form form {
  width: 100%;
  padding: 20px;
  border: 1px solid #fff; /* Canvia #fff pel color del marc desitjat */
  border-radius: 4px;
  /* Canvia #fff pel color de fons desitjat */
  display: flex;
  flex-wrap: wrap; /* Fes que els elements es mostrin en línia */
  align-items: center; /* Centra verticalment els elements */
  gap: 10px; /* Espai entre els elements */
  justify-content: space-between; /* Col·loca els elements a les extremitats horitzontals */
  
}


.network-form .form-group {
  flex: 1; /* Fes que cada camp ocupi tot l'ample disponible */
  margin-bottom: 15px;
  flex-basis: calc(30% - 5px); /* Fes que cada camp tingui un 30% de l'ample disponible, descomptant l'espai entre ells */
}
.form-buttons {
  display: flex;
  justify-content: flex-start;
}
.form-buttons-type {
  flex: 10;
  margin-inline-start: auto;
  display: flex;
  justify-content: flex-start;
}
.network-form label {
  display: block;
  margin-bottom: 5px;
  color: #fdfdfd;
  width: 200px;
}

.network-form button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.network-form button:hover {
  background-color: #0056b3;
}

.network-form button {
  justify-content: flex-end; /* Alinea el contingut a la dreta */
  margin-right: 10px; /* Espai superior per separar dels camps */
  flex-basis: 100%; /* Fes que el grup de botons ocupi tot l'ample disponible */
}

.selected-xarxes {
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

.selected-xarxa {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 2px;
}

.multi-select{
  color: #0c0c0c
}