.network-table-container {
    display: flex;
    justify-content: center;
    background-color: #000;
    padding: 20px;
}

.network-table {
    width: 100%;
    margin-top: 20px; /* Add spacing from the form */
    display: flex;
    justify-content: center; /* Center horizontally */
}


.network-table th,
.network-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #5e5e5e;
    color: #ffffff;
}

.network-table th {
    background-color: #202020;
    font-weight: bold;
}

.network-table tr:hover {
    background-color: #4b4b4b;
}

.network-table .action-buttons {
    
    display: flex;
    gap: 5px;
}

.network-table .edit-button,
.network-table .delete-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.network-table .edit-button:hover,
.network-table .delete-button:hover {
    background-color: #0056b3;
}

