@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
header{
  position: sticky;
  z-index: 30;
  top: 0;
}
nav{
  display: flex;
  padding-inline: 24px;
  justify-content: space-between;
  align-items: center;
}
.nav_bg{
  background-color: #222222;
}
.nav__menu-bar{
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}
.nav__menu-bar div{
  width: 40px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}
.nav__menu-list{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 180px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: #222222;
}
.nav__menu-list.active{
  right: 0;
}
.nav__link{
  font-size: 18px; 
  position: relative;
  transition: all 0.2s;
}

.nav__link:hover{
 font-weight: bold;
}

.center{
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav__menu-bar{
    display: none;
  }
  .nav__menu-list{
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
  }
  .nav__link::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    background-color: black;
    transition: all 0.2s;
  }
  
  .nav__link:hover:before{
   width: 100%;
  }
  .imageUser{
    display: inline-block;
    outline: none;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 3px solid hsl(118, 100%, 62%);;
  }

  .userProfile {
    position: relative;
  }
  
  .options {
    position: absolute;
    top: 100%; /* Position below the profile image */
    right: 0%; /* Align with the right edge of the profile image */
    background-color: rgb(32, 32, 32);
    border: 1px solid #797979;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: none; /* Initially hidden */
    margin: 2px;
    
  }
  
  .options.show {

    display: block; /* Display when showOptions is true */
  }
  .signOutButton:hover {
    background-color: rgb(102, 102, 102);
  }
  
  /* Style for the buttons */
  .subscribeButton,
  .signOutButton {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}