
@media screen and (min-width: 1025px) {
  .content {
    display: flex;
  }
}


.container_CRUD{
  position: relative;
  width: 70%;
  height: 90%;
  margin: 0px auto;
}
.title_todoRoutine{
  display: block;
  font-family: arial;
  font-size: 3rem;
  text-align:center;
  color: white;
}
.todoRoutine{
  display: block;
  margin: 1% auto ;
  max-width: 50%;
  min-width:28rem;
  background-color:rgba(5, 33, 66, 0.897);
  border-radius: 10px;
  padding: 4rem;
  color: white;
}
.input_newRoutine{
  color: black;
  width: 90%;
  height: 25px;
  margin: .5rem;
}
.button_add{
  color: black;
  font-weight: bold;
  background-color: beige;
  border-radius: 4px;
  height: 30px;
  width: 40px;
  float: right;
}
.button_add:active{
  background-color:rgba(245, 245, 220, 0.589);
}

.myRoutines{
  display: block;
  margin: auto;
  text-align: center;
  max-width: 50%;
  min-width:28rem;
  height: 20% ;
  background-color:rgba(5, 33, 66, 0.897);
  border-radius: 10px;
  padding: 30px 70px 30px 70px ;
}
.TitulRutina{
  font-size:1.7em;
  color:rgb(252, 251, 235);
  margin:auto;
  margin-bottom: 1em;
}

#containerTodoList{
  padding-top: 0.6em;
}
#button_deleteRutin{
  max-width:12%;
  min-width:5rem;
  max-height:12%;
  min-height:5rem;
  padding:4%;
  display: block;
  font-size: 16px;
  background-color: rgba(62, 80, 141, 0);
  border:none;  
}
.img_litter{
  display: block;
  max-width:12%;
  min-width:5rem;
  max-height:12%;
  min-height:5rem;
  
}